<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportmall.dao.IcommentMapper">

   <select id="getCommentByPno" resultType="TComment">
       select * from tcomment where pno = #{pno} order by tdate desc
   </select>

    <select id="getCommentCount" resultType="Integer">
       select Count(*) from tcomment where pno = #{pno}
   </select>

    <insert id="insertComment" parameterType="TComment">
        insert into tcomment (pno,uid,uname,udesc,tdate) values (#{pno},#{uid},#{uname},#{udesc},#{tdate});
    </insert>


    <delete id="deleteComment" >
        delete from tcomment where id = #{id}
    </delete>

    <update id="updateComment" parameterType="TComment">
        update tcomment
        <trim prefix="set" suffixOverrides=",">
            <if test="udesc!=null and udesc!=''">
                udesc = #{udesc},
            </if>
            <if test="tdate!=null">
                tdate = #{tdate},
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>