<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportmall.dao.IcompanyMapper">

    <select id="getCompanys" resultType="TCompany" parameterType="TCompany">
		select * from tcompany where 1=1
        <include refid="where"></include>
		limit #{startResult},#{maxSize}
	</select>

    <select id="getCounts" resultType="Integer" parameterType="TCompany">
        select count(*) from tcompany where 1=1
        <include refid="where"></include>
    </select>

    <sql id="where">
        <if test="cname!=null and cname!=''">
            and cname  like concat('%',#{cname},'%')
        </if>
        <if test="ctel!=null and ctel!=''">
            and ctel  like concat('%',#{ctel},'%')
        </if>
        <if test="cweb!=null and cweb!=''">
            and cweb  like concat('%',#{cweb},'%')
        </if>
        <if test="cstate!=null and cstate!=0">
            and cstate = #{cstate}
        </if>
    </sql>


    <select id="getInfo" resultType="TCompany">
        select * from tcompany where cid = #{cid}
    </select>

    <insert id="insertCompany" parameterType="TCompany">
        insert into tcompany (cname,ctel,cweb,cstate) values (#{cname},#{ctel},#{cweb},#{cstate})
    </insert>

    <update id="companyState" parameterType="TCompany">
        update tcompany set cstate = #{cstate} where cid = #{cid}
    </update>


    <update id="updateCompany" parameterType="TCompany">
        update tcompany
        <trim prefix="set" suffixOverrides=",">
            <if test="cname!=null and cname!=''">
                cname = #{cname},
            </if>
            <if test="ctel!=null and ctel!=''">
                ctel = #{ctel},
            </if>
            <if test="cweb!=null and cweb!=''">
                cweb = #{cweb},
            </if>
        </trim>
        where cid = #{cid}
    </update>










    <!--<select id="getOutCompanys" resultType="TCompany" parameterType="TCompany">-->
        <!--select * from tcompany where cstate = 9-->
        <!--<include refid="where"></include>-->
        <!--limit #{startResult},#{maxSize}-->
    <!--</select>-->

    <!--<select id="getOutCounts" resultType="Integer" parameterType="TCompany">-->
        <!--select count(*) from tcompany where cstate = 9-->
        <!--<include refid="where"></include>-->
    <!--</select>-->


</mapper>