<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportmall.dao.IProductMapper">

    <resultMap id="ProductMap" type="TProduct">
        <result property="pno" column="pno" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="BLOB" />
        <result property="image" column="image" jdbcType="VARCHAR" />
        <result property="image1" column="imag1" jdbcType="VARCHAR" />
        <result property="image2" column="image2" jdbcType="VARCHAR" />
    </resultMap>


    <!-- 获取所有产品信息 -->
    <select id="getAllProducts" resultType="TProduct" parameterType="com.sportmall.entity.dto.TProductCondition">
        select * from tproduct where 1=1
        <include refid="where"></include>
        limit #{startResult},#{maxSize}
    </select>

    <!-- 获取商品总数 -->
    <select id="productCount" parameterType="com.sportmall.entity.dto.TProductCondition" resultType="java.lang.Integer">
        select count(*) from tproduct where 1=1
        <include refid="where"></include>
    </select>

    <!-- 添加产品 -->
    <insert id="addProduct" parameterType="TProduct">
        insert into tproduct (typeno,pname,vender,pubdate,pdesc,price,count,pic,pstate,image,image1,image2)values(
        #{typeno},#{pname},#{vender},#{pubdate},#{pdesc},#{price},#{count},#{pic},#{pstate},#{image},#{image1},#{image2})
     </insert>

    <!-- 修改产品信息 -->
    <update id="updateProduct"  parameterType="TProduct">
        update tproduct
        <trim prefix="set" suffixOverrides=",">
            <if test="pname!=null and pname!='' ">
                pname = #{pname},
            </if>
            <if test="vender!=null and vender!='' ">
                vender = #{vender},
            </if>
            <if test="pubdate!=null">
                pubdate = #{pubdate},
            </if>
            <if test="pdesc!=null and pdesc!='' ">
                pdesc = #{pdesc},
            </if>
            <if test="price!=null and price!=0">
                price = #{price},
            </if>
            <if test="image!=null and image!=''">
                image = #{image},
            </if>
            <if test="image1!=null and image1!=''">
                image1 = #{image1},
            </if>
            <if test="image2!=null and image2!=''">
                image2 = #{image2},
            </if>
            <if test="pstate!=null">
                pstate = #{pstate},
            </if>
        </trim>
        where pno = #{pno}
    </update>

    <update id="deleteProduct">
        update tproduct set pstate = #{pstate} where pno = #{pno}
    </update>

    <update id="addProductCount">
        update tproduct set count = count + #{count} where pno = #{pno}
    </update>

    <!-- 获取图片 -->
    <select id="getPic" resultMap="ProductMap">
        select pno,pic from tproduct where pno = #{pno}
    </select>

    <!-- 获取购物车信息 -->
    <select id="getCarProducts" resultType="TProduct">
        select * from tshopcar where uid =#{uid}
    </select>


    <sql id="where">
        <if test="typeno!=null and typeno !=0 ">
            and typeno = #{typeno}
        </if>
        <if test="pname!=null and pname!=''">
            and pname  like concat('%',#{pname},'%')
        </if>
        <if test="vender!=null and vender != '' ">
            and vender like concat('%',#{vender},'%')
        </if>
        <if test="pstate!=null and pstate !=0 ">
            and pstate = #{pstate}
        </if>
    </sql>


    <select id="getProductInfo" resultType="com.sportmall.entity.TProduct">
        select * from tproduct where pno = #{pno}
    </select>

    <update id="reduceCount" parameterType="TProduct">
        update tproduct set count = count - #{count} where pno = #{pno}
    </update>

</mapper>
