<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportmall.dao.IShopCarMapper">

    <select id="getCarProduct" resultType="com.sportmall.entity.TShopCar">
        select * from tshopcar where uid = #{uid}
    </select>

    <insert id="addShopCar" parameterType="com.sportmall.entity.TShopCar">
        insert into tshopcar (uid,pno,scstate,pcount) values (#{uid},#{pno},#{scstate},#{pcount})
    </insert>

    <delete id="deleteCar" parameterType="com.sportmall.entity.TShopCar">
        delete from tshopcar where id = #{id}
    </delete>

    <select id="getUidPno" parameterType="com.sportmall.entity.TShopCar" resultType="Integer">
        select count(*) from tshopcar where uid=#{uid} and pno = #{pno}
    </select>

    <update id="updateCar" parameterType="com.sportmall.entity.TShopCar">
        update tshopcar set pcount = pcount + #{pcount} where uid = #{uid} and pno = #{pno}
    </update>

    <select id="getCar" resultType="com.sportmall.entity.TShopCar">
        select p.pname,p.image,p.vender,p.price,s.pcount,s.id from tproduct p,tshopcar s where p.pno = s.pno and s.uid = #{uid}
    </select>

    <update id="updateCount" parameterType="com.sportmall.entity.TShopCar">
        UPDATE tshopcar SET pcount = pcount + #{pcount} WHERE id = #{id}
    </update>

    <select id="getPcount" parameterType="Integer" resultType="Integer">
        select pcount from tshopcar where id = #{id};
    </select>


    <select id="getCarById" resultType="com.sportmall.entity.TShopCar">
        select p.pname,p.image,p.vender,p.price,s.pcount,s.id,s.pno from tproduct p,tshopcar s where p.pno = s.pno and s.id = #{id}
    </select>

</mapper>
