<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportmall.dao.IUserMapper">

	<insert id="register">
		insert into tuser (uname,pwd,rname,tel,sex,role,account,cost,regdate)
		values(#{uname},#{pwd},#{rname},#{tel},#{sex},#{role},#{account},#{cost},#{regdate})
	</insert>

	<select id="login" resultType="TUser">
		select * from tuser where uname = #{uname} and pwd = #{pwd}
	</select>

	<select id="isExist" resultType="TUser">
		select * from tuser where uname = #{uname}
	</select>

	<update id="updatePassword" parameterType="TUser">
		update tuser set pwd = #{pwd} where uid = #{uid}
	</update>


	<select id="getCount" parameterType="com.sportmall.entity.dto.TUserCondition" resultType="java.lang.Integer">
		select count(*) from tuser where role != 1
		<include refid="where"></include>
	</select>

	<select id="getAllUsers" resultType="TUser" parameterType="com.sportmall.entity.dto.TUserCondition">
		select * from tuser where role != 1
		  <include refid="where"></include>
		  limit #{startResult},#{maxSize}
	</select>

	<sql id="where">
		<if test="uname != null and uname != ''">
			and uname like concat('%',#{uname},'%')
		</if>
		<if test="tel != null">
			and tel like concat('%',#{tel},'%')
		</if>
		<if test="role != null and role != 0">
			and role = #{role}
		</if>
		<if test="start_regTime != null">
			and refdate >= #{start_regTime}
		</if>
		<if test="end_regTime != null">
			<![CDATA[ and refdate <= #{end_regTime} ]]>
		</if>
	</sql>

	<update id="payMoney" parameterType="TUser">
		update tuser set account = account - #{account},cost = cost + #{account} where uid =#{uid}
	</update>



</mapper>
