<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportmall.dao.IVipMapper">

    <insert id="addVip">
		insert into tvip (vipname,state,discount,ispostage)
		values(#{vipname},#{state},#{discount},#{ispostage})
	</insert>


    <select id="getVipInfo" resultType="TVip">
        select * from tvip where id = (select role from tuser where uid = #{uid})
    </select>

    <select id="getRoleId" resultType="com.sportmall.entity.dto.RoleId">
        SELECT v.id,v.vipname,u.role,u.uid from tvip v,tuser u where u.cost BETWEEN v.cost and v.maxcost and uid = #{uid}
    </select>

    <update id="updateRole" parameterType="com.sportmall.entity.dto.RoleId">
        UPDATE tuser set role = #{role} where uid = #{uid}
    </update>

    <select id="getVip" resultType="TVip">
        select * from tvip where id = #{id}
    </select>

    <update id="updateVip" parameterType="TVip">
        update tvip
        <trim prefix="set" suffixOverrides=",">
            <if test="vipname!=null and vipname!=''">
                vipname =#{vipname},
            </if>
            <if test="discount!=null and discount!=0">
                discount =#{discount},
            </if>
            <if test="ispostage!=null and ispostage!=0">
                ispostage = #{ispostage},
            </if>
            <if test="cost!=null and cost!=0">
                cost = #{cost},
            </if>
            <if test="maxcost!=null and maxcost!=0">
                maxcost = #{maxcost},
            </if>
        </trim>
        where id = #{id}
    </update>





    <select id="getAllVip" resultType="TVip">
		select * from tvip where id !=1 and id !=2
	</select>

    <select id="getVipCounts" resultType="Integer">
        select count(*) from tvip where id !=1 and id !=2
        <include refid="where"></include>
    </select>


    <sql id="where">
        <if test="vipname!=null and vipname!=''">
            and vipname = #{vipname}
        </if>
        <if test="ispostage!=null and ispostage!=0">
            and ispostage = #{ispostage}
        </if>
    </sql>


</mapper>